#spice-grid {
    display: grid;
    grid-template-columns: 146px 146px 146px;
    grid-template-rows: 146px 146px 146px 146px;
}

ion-col[size="6"] {
    display: flex;
    justify-content: center;
}