#spice-grid {
    padding: 36px 31.5px;
    width: fit-content;
    display: grid;
    margin: auto;
    grid-template-columns: 144px 144px 144px 144px;
    grid-template-rows: 120px 120px 120px 120px 120px 120px;
}

ion-content {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: center;
}
