<ion-content>
  <ion-grid fixed>
    <ion-row>
      <ion-col size-md="3" size-sm="1" size-xs="0"></ion-col>
      <ion-col size-md="6" size-sm="10" size-xs="12">
        <form (ngSubmit)="onSubmit()">  
          <ion-list>
            <ion-item>
              <ion-label position="stacked">Nom</ion-label>
              <ion-input name="label" [value]="spice.label" type="text" placeholder="Entrer le nom de l'épice" (ionChange)="updateLabel($event)"></ion-input>
            </ion-item>

            <ion-item>
              <ion-label>Image</ion-label>
              <ion-spinner *ngIf="loading" size="sm" name="circular"></ion-spinner>
              <ion-button (click)="loadImages()" [disabled]="spice.label == ''">
                <ion-icon slot="start" name="refresh-circle"></ion-icon>
                Obtenir les images
              </ion-button>
            </ion-item>
            <ion-item>
              <ion-img *ngFor="let src of imageSources" [src]="src" [class.selected]="src===selectedImage" (click)="selectedImage=src"></ion-img>
              <ion-label *ngIf="noResults" color="danger">Aucun résultats</ion-label>
            </ion-item>
        
            <ion-list>
              <ion-list-header>
                <ion-label>Type</ion-label>
              </ion-list-header>
              <ion-radio-group name="type" [value]="spice.type" (ionChange)="updateType($event)">
                <ion-item *ngFor="let type of spiceTypes; let ind=index">
                  <ion-label>{{type.label}}</ion-label>
                  <ion-radio slot="start" [value]="ind"></ion-radio>
                </ion-item>
              </ion-radio-group>
            </ion-list>
          </ion-list>
          <ion-grid fixed>
            <ion-row>
              <ion-col size="3">
                <ion-button color="primary" type="submit">
                  Continuer
                </ion-button>
              </ion-col>
              <ion-col size="3">
                <ion-button color="primary" (click)="onSubmit(true)">
                  Soumettre
                </ion-button>
              </ion-col>
            </ion-row>
          </ion-grid>
        </form>
      </ion-col>
      <ion-col size-md="3" size-sm="1" size-xs="0"></ion-col>
    </ion-row>
  </ion-grid>

</ion-content>
