ion-spinner * {
    width: 8px;
    height: 8px;
}

img {
    width: 60px;
    margin: auto;
    cursor: pointer;
    &:hover {
        opacity: 80%;
    }

    &.selected {
        border: solid 2px var(--ion-color-primary);
        border-style: inset;
    }
}

.images-container {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.image-item {
    display: flex;
    font-size: 14px;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    align-content: center;
}